In [ ]:
student1={"name":"Varsha","age":20,"course":"BCA","Grade":'A'}
print(student1)
student2={"name":"Keerthi","age":18,"course":"BCA","Grade":'A'}
print(student2)